.bottomContainer {
    height: 100%;
}

.logContainer {
    background: white;

    padding: 0px;
    margin: 0px;
    border: 0px;

    border: 1px solid gray;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    white-space: pre-wrap;
    font-size: 10pt;
}
