.place {
    background: black;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
}

.molView {
    background: black;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
}
